/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 de nov. de 2025, 21:31:18
    Author     : belmo
*/


html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden; /* evita a rolagem vertical */
  box-sizing: border-box;
  background-color: rgb(15, 199, 138);
}

* {
  box-sizing: inherit; /* garante que padding e borda sejam incluídos no cálculo total */
}

#page {               /* envolve #div1 + .container */
  height: 100vh; /* garante a exibição da div mesmo vazia (vh = viewport height)*/
  display: flex;
  flex-direction: column;
  min-width: 0; /* permite que o elemento diminua sua largura abaixo do tamanho mínimo natural e evita que o item “estoure” o container flex */
  padding: 5px;
}


#div1{
    display: flex;
    width: calc(100% - 0px);
    height: 100px;
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}


.container {
    flex: 1;
    display: flex;
    gap: 5px;
    background-color: rgb(234, 250, 8);
    padding: 5px;
    border-radius: 8px;
    min-height: 0;
}


.div3{
    flex: 1 1 0;  /* grow:1 (ajusta-se no espaço do container), shrink:1 (pode encolher se faltar espaço), basis:0 → tamanho inicial antes do grow/shrink */
    min-width: 0;
    min-height: 0;     
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 0px;
    color: white;
    padding-left: 10px;
    overflow-y: auto;    /* aparece barra de rolagem vertical, hidden impede a barra de rolagem */
    overflow-x: auto;  /* aparece barra de rolagem horizontal, hidden impede a barra de rolagem */
}
.div4{
    flex: 1 1 0;
    min-width: 0;
    min-height: 0;     
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px;
}

#div5{
    width: 100%;
    /*height: 40%;*/
    flex: 0 0 40%; /* grow:0, shrink:0, basis:40 → pega 40% do espaço */
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

#div6{
    width: 100%;
    height: 60%;  
    flex: 1; /* grow:1, shrink:1, basis:0 → pega o resto do espaço */
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}


.cinza {
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
}

.branco {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}



